.load-spinner-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.stories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    background-color: #fff3e0;
}
