<mat-toolbar class="toolbar mat-elevation-z6" color="primary">
    <div class="logo-container mat-elevation-z3">
        <img src="assets/logo.png" class="logo">
    </div>

    <div class="stories-types">
        <a routerLink="/stories/topstories" routerLinkActive="active" class="story-type">
            <div>TopStories</div>
            <div class="bot-line"></div>
        </a>
        <a routerLink="/stories/newstories" routerLinkActive="active" class="story-type">
            <div>NewStories</div>
            <div class="bot-line"></div>
        </a>
        <a routerLink="/stories/beststories" routerLinkActive="active" class="story-type">
            <div>BestStories</div>
            <div class="bot-line"></div>
        </a>
    </div>

    <div class="profile-icon-container mat-elevation-z3">
        <mat-icon routerLink="/profile" color="white" class="profile-icon">account_circle</mat-icon>
    </div>
</mat-toolbar>