.toolbar {
    position: fixed;
    z-index: 100;
    color: white;
}

.logo-container {
    height: 48px;
    width: 48px;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid white;
}

.logo {
    display: block;
    width: 100%;
    height: 100%;
}

.stories-types {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-self: flex-end;
    font-weight: normal;
    overflow: hidden;
}

.story-type {
    padding: 5px 5px 0;
    border-radius: 2px;
    color: white;
    transition: all 0.25s;
    text-decoration: none;
}

.story-type:hover {
    background-color: white;
    color: #ff9800;
    cursor: pointer;
}

.bot-line {
    width: 100%;
    height: 3px;
    background-color: white;
}
