<mat-toolbar class="toolbar mat-elevation-z6" color="primary">
    <div class="logo-container">
        <img src="assets/logo.png" class="logo">
    </div>

    <div class="stories-types">
        <a class="story-type">
            <div>TopStories</div>
            <div class="bot-line"></div>
        </a>
        <a class="story-type">
            <div>NewStories</div>
            <div class="bot-line"></div>
        </a>
        <a class="story-type">
            <div>BestStories</div>
            <div class="bot-line"></div>
        </a>
    </div>
</mat-toolbar>