.toolbar {
    position: fixed;
    z-index: 100;
    color: white;
}

.logo-container,
.profile-icon-container {
    padding: 3px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid white;
}

.profile-icon-container {
    margin-left: 8px;
}

.logo {
    display: block;
    width: 38px;
    height: 38px;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    width: 38px;
    height: 38px;
    user-select: none;
    cursor: pointer;
}

.profile-icon:focus {
    outline: none;
}

.stories-types {
    margin-left: auto;
    display: flex;
    height: 100%;
}

.story-type {
    margin-left: 8px;
    padding: 0 8px;
    text-decoration: none;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
}

.bot-line {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
}

.active .bot-line {
    display: none;
}

.story-type:hover .bot-line {
    display: none;
}

.active {
    background-color: white;
    color: #ff9800;
    cursor: pointer;
}
