<div class="user">
    <div class="user__avatar-wrapper mat-elevation-z10">
        <img src="https://avatars.dicebear.com/v2/identicon/user2.svg">
    </div>

    <h2 class="user__nickname">UserNickname</h2>

    <div class="user__info">
        <div class="user__info__karma-wrapper">
            <h4 class="user__info__karma__title">Карма</h4>
            <h3 class="user__info__karma">228322</h3>
        </div>
        <div class="user__info__created-wrapper">
            <h4 class="user__info__created__title">Дата регистрации</h4>
            <h3 class="user__info__created">19.04.1999</h3>
        </div>
    </div>
</div>

<div class="user-stories-title-wrapper">
    <h1 class="user-stories-title">Истории от UserNickname</h1>
</div>