<mat-card *ngIf="story" class="story">
  <mat-card-subtitle class="story__info">
    <div class="story__info__author">
      <div class="story__info__author__icon-wrapper">
        <mat-icon color="primary">face</mat-icon>
      </div>

      <div class="story__info__author__nickname-wrapper">
        <div>
          by <a [routerLink]="'/user/' + author" class="story__info__author__nickname"><strong>
              {{author}} </strong></a>
        </div>
      </div>
    </div>

    <div class="story__info__datetime-wrapper">
      <div class="story__info__datetime">
        {{datetime | date:'dd MMMM yyyy': 'ru' : 'ru'}} в {{datetime | date:'HH:mm'}}
      </div>
    </div>
  </mat-card-subtitle>

  <mat-card-title>
    <a class="story__title" [href]="url" target="_blank">{{title}}</a>
  </mat-card-title>

  <mat-card-actions class="story__actions">
    <a class="story__actions__read-url" [href]="url" target="_blank" mat-button>Читать</a>

    <div class="story__actions__points">
      <div *ngIf="isLoading" class="story__actions__points__spinner-wrapper">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
      </div>
      <button *ngIf="!isLoading" mat-icon-button color="warn" (click)="onFavoriteClick()">
        <mat-icon class="story__actions__points__favorite-icon" [class.active]="isFavorite">
          favorite
        </mat-icon>
      </button>
      <div class="story__actions__points__count"> {{points}} </div>
    </div>

    <div class="story__actions__share-btn-wrapper" (click)="onShare()">
      <button shareButton="vk" [url]="url" mat-icon-button class="story__actions__share-btn mat-elevation-z3"
        [disabled]="!(authService.user$ | async)">
        <fa-icon [icon]="icon" size="lg" [styles]="{'color': '#ff9800'}"></fa-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>