:host {
    width: 60%;
    margin-bottom: 24px;
}

.story {
    min-width: 200px;
    overflow: hidden;
}

.story__info {
    display: flex;
    justify-content: space-between;
}

.story__info__author {
    display: flex;
}

.story__info__author__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.story__info__author__nickname-wrapper {
    display: flex;
    align-items: center;
}

.story__info__author__nickname {
    color: #00bcd4;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.25s;
    cursor: pointer;
}

.story__info__author__nickname:hover {
    opacity: 0.75;
}

.story__info__datetime-wrapper {
    display: flex;
}

.story__info__datetime {
    display: flex;
    align-items: center;
}

.story__title {
    text-decoration: none;
    color: black;
}

.story__actions {
    display: flex;
}

.story__actions__read-url {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story__actions__points {
    display: flex;
}

.story__actions__points__spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.story__actions__points__favorite-icon {
    color: #bdbdbd;
}

mat-icon.active {
    color: #f44336;
}

.story__actions__points__count {
    display: flex;
    align-items: center;
}

.story__actions__share-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
}

.story__actions__share-btn {
    background-color: white;
    cursor: pointer;
}
